@use "sass:math";
@use "../base/utils";

.gallery {
  display: flex;
  flex-direction: column;

  &__section {
    display: flex;

    justify-content: center;

    @media screen and (max-width: utils.$sm) {
      flex-direction: column;

      align-items: center;
    }
  }

  &__content {
    max-width: 100%;

    @media screen and (min-width: #{utils.$sm + 1}) {
      max-width: #{math.div(100, 3) + '%'};
    }
  }

  &, &__section {
    gap: 8px;
  }
}