.history {
  display: flex;
  flex-direction: column;

  width: 100%;

  gap: 4px;

  &__item {
    display: flex;

    align-items: center;
    padding-inline: 16px;

    cursor: pointer;
    border: 2px solid gray;
    border-radius: 5px;
  }

  &__quantity {
    margin-left: auto;
  }
}