doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="../../styles/styles.css")
    link(rel="stylesheet" href="./profile.css")
    title Profile
  body
    .container
      h1.u-center--text Pokedex
      nav.navbar
        ul.navbar__list
          li.navbar__item
            a(href="../index/index.html").navbar__link Home
          li.navbar__item
            a(href="../search/search.html").navbar__link Search
      main
        section
          img.portrait(src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/35.png")
    script(src="../../global.js")
    script(src="./index.js")
