<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="/pages/profile/profile.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css" integrity="sha384-ejwKkLla8gPP8t2u0eQyL0Q/4ItcnyveF505U0NIobD/SMsNyXrLti6CWaD0L52l" crossorigin="anonymous">
    <title>Profile</title>
  </head>
  <body>
    <div class="container">
      <%- include('../_partials/navbar') %>
      <main>
        <div class="portrait"><img class="portrait__img"></div>
        <section class="info" region="info">
          <h1 class="pokemon__name"></h1>
          <div class="info__header"></div>
          <div class="info__attributes"></div>
          <div class="info__body">
            <div class="info__elements"></div>
            <div class="info__abilities"></div>
            <div class="info__strength"></div>
            <div class="info__weakness"></div>
            <div class="info__stats"></div>
          </div>
        </section>
      </main>
      <%- include('../_partials/footer') %>
    </div>
    <script src="/global.js"></script>
    <script src="/pages/profile/profile.js"></script>
  </body>
</html>