doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="../../styles/styles.css")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css" integrity="sha384-ejwKkLla8gPP8t2u0eQyL0Q/4ItcnyveF505U0NIobD/SMsNyXrLti6CWaD0L52l" crossorigin="anonymous")
    title Home
  body
    .container
      h1.u-center--text Pokedex
      nav.navbar
        ul.navbar__list
          li.navbar__item
            a(href="../index/index.html").navbar__link Home
          li.navbar__item
            a(href="../search/search.html").navbar__link Search
      main
        .description
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate in minima odit aperiam, harum numquam sint ullam maiores autem cumque recusandae veniam cum expedita hic blanditiis error, facere nesciunt vero sit explicabo delectus? Nobis, beatae. Numquam, excepturi eos? Facere numquam molestias est eius unde placeat mollitia nihil distinctio autem saepe! Fugit aspernatur placeat quia expedita porro quis inventore asperiores quibusdam deserunt. Saepe esse quaerat rem!
        .gallery
      footer.footer
        p.u-center--text
          b Benjamin Chiang 2022
    script(src="../../global.js")
    script(src="./index.js")
