<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/pages/memory/memory.css">
  <title>Pokemon Memory Game</title>
</head>

<body>
  <div class="container">
    <%- include('../_partials/navbar') %>
    <main class="game">
      <div id="panel--controls" class="panel controls"></div>
      <div class="u-flex-spacer"></div>
      <div id="panel--game" class="panel">
        <template id="t-card">
          <div class="card">
              <img class="card__img card__front" src="" alt="Pokemon Face Card">
              <img class="card__img card__back" src="/assets/pokeball.png" alt="Pokemon Back Card">
          </div>
        </template>
      </div>
    </main>
    <%- include('../_partials/footer') %>
  </div>
  <script src="/global.js"></script>
  <script src="/pages/memory/memory.js"></script>
</body>

</html>