.dashboard {
  display: grid;
  grid-auto-flow: column;
  
  padding: 16px;
  width: 100%;
  gap: 32px;
}
@media screen and (max-width: 750px) {
  .dashboard {
    grid-auto-flow: row;
  }
}

.panel {
  padding: 0;
  border-radius: 0;
  max-width: none;
}
.panel__title {
  margin: 0;
  padding: 8px 16px 16px 16px;
  background-color: hsl(0 0% 20%);
  color: white;
}
.panel__items {
  border-collapse: collapse;

  width: 100%;
}
.panel__item {
  display: flex;

  border: 1px solid gray;
  border-top: 0;
  border-inline: 0;
  padding-block: 12px;
  padding-inline: 16px;

  gap: 8px;

  align-items: center;
}

.form {
  padding-inline: 16px;
  padding-top: 16px;
}

.user__spacer {
  flex-grow: 1;
}
