<footer class="footer">
  <p class="u-center--text"><b>Benjamin Chiang 2022</b></p>
  <div class="footer__links"><a class="footer__link bi bi-github" href="https://github.com/FoRVaiS"></a><a class="footer__link bi bi-kanban" href="https://github.com/FoRVaiS/2537a1/issues"></a></div>
</footer>