<h1 class="u-center--text">Pokedex</h1>
<nav class="navbar">
  <ul class="navbar__list">
    <li class="navbar__item"><a class="navbar__link" href="/">Home</a></li>
    <li class="navbar__item"><a class="navbar__link" href="/search">Search</a></li>
    <li class="navbar__item"><a class="navbar__link" href="/timeline">Timeline</a></li>
  </ul>
</nav>