<nav class="navbar">
  <a id="logo" href="/" class="navbar__link u-center--text">Pokedex</a>
  <div class="navbar__lists">
    <ul class="navbar__list">
      <li class="navbar__item u-center--text"><a class="navbar__link" href="/">Home</a></li>
      <li class="navbar__item u-center--text"><a class="navbar__link" href="/search">Search</a></li>
      <li class="navbar__item u-center--text"><a class="navbar__link" href="/timeline">Timeline</a></li>
      <li class="navbar__item u-center--text"><a class="navbar__link" href="/user">Profile</a></li>
      <li class="navbar__item u-center--text"><a class="navbar__link" href="/memory">Memory</a></li>
    </ul>
    <ul class="navbar__list">
      <li class="navbar__item u-center--text"><a class="navbar__link" href="/dashboard">Admin</a></li>
      <li class="navbar__icon"><a class="navbar__link bi bi-cart" href="/cart"></a></li>
      <li><input id="in-logout" class="btn btn--secondary" type="button" value="Logout"></li>
    </ul>
  </div>
</nav>