<nav class="navbar">
  <a id="logo" href="/" class="navbar__link u-center--text">Pokedex</a>
  <div class="navbar__lists">
    <ul class="navbar__list">
      <li class="navbar__item u-center--text"><a class="navbar__link" href="/">Home</a></li>
      <li class="navbar__item u-center--text"><a class="navbar__link" href="/search">Search</a></li>
      <li class="navbar__item u-center--text"><a class="navbar__link" href="/timeline">Timeline</a></li>
    </ul>
    <ul class="navbar__list">
      <li class="navbar__item u-center--text"><a class="navbar__link" href="/user">Profile</a></li>
    </ul>
  </div>
</nav>