*,
*::before,
*::after {
  font-family: system-ui;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
}

h1 {
  margin: 0;
  padding-block: 1rem;
}

.u-center--text {
  text-align: center;
}

.u-img-frame {
  display: flex;
  justify-content: center;
  align-items: center;
}

.u-center-evenly-spaced {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.u-mt-5 {
  margin-top: 3rem;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.container main {
  flex-grow: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #333333;
}
.navbar__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 480px) {
  .navbar__list {
    flex-direction: column;
  }
}
.navbar__item {
  padding: 16px;
  color: white;
}
.navbar__item:hover {
  background-color: white;
  color: #333333;
}
.navbar__link {
  color: inherit;
  text-decoration: none;
}
@media screen and (max-width: 480px) {
  .navbar {
    flex-direction: column;
  }
}

.gallery {
  display: flex;
  flex-direction: column;
}
.gallery__section {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 480px) {
  .gallery__section {
    flex-direction: column;
    align-items: center;
  }
}
.gallery__content {
  max-width: 100%;
}
@media screen and (min-width: 481px) {
  .gallery__content {
    max-width: 33.3333333333%;
  }
}
.gallery, .gallery__section {
  gap: 8px;
}

.search {
  display: flex;
  max-width: 100%;
}
@media screen and (max-width: 480px) {
  .search {
    flex-direction: column;
  }
}
.search__field, .search__mode, .search__action {
  padding-block: 16px;
}
.search__field {
  flex-grow: 1;
  border: 0;
  padding-inline: 8px;
  background-color: #d9d9d9;
}
.search__mode {
  border: 0;
  padding-inline: 8px;
  border: 2px solid #d9d9d9;
}
.search__action {
  cursor: pointer;
  padding-inline: 16px;
  border: 2px solid #d9d9d9;
  background-color: white;
}
@media screen and (max-width: 480px) {
  .search__action {
    display: none;
  }
}

.history {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 4px;
}
.history__item {
  display: flex;
  gap: 8px;
  align-items: center;
  padding-inline: 16px;
  cursor: pointer;
  border: 2px solid gray;
  border-radius: 5px;
}
.history__quantity {
  margin-left: auto;
}

.history-header {
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  padding: 4px;
  background: #e6e6e6;
}
.history-header__title {
  margin: 0;
}
.history-header__clear {
  margin-left: auto;
  background: white;
  border: 0;
  cursor: pointer;
}

.section {
  width: 100%;
  min-height: 350px;
  margin-bottom: 64px;
}

.hero {
  display: flex;
  align-items: center;

  flex-direction: column;
  gap: 32px;
}
.hero__body {
  display: flex;
  align-items: center;

  flex-direction: column;
  flex-grow: 1;
}
.hero__actions {
  display: flex;

  gap: 16px;
}

.showcase {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 64px;
  flex-wrap: wrap;
}
.showcase__img {
  display: block;
  
  width: 100%;
  max-width: 150px;
  
  margin-inline: auto;
}
@media screen and (min-width: 481px) {
  .showcase__item {
    width: 20%;
  }
}
@media screen and (max-width: 480px) {
  .showcase {
    flex-direction: column;
  }
}

.btn {
  /* Button Clears */
  background: 0;
  border: 0;

  /* Default button style */
  border-radius: 5px;
  padding: .7rem 1.2rem 0.9rem;
  font-weight: 600;
  font-size: 1rem;
}
.btn--primary {
  background-color: hsl(204, 88%, 60%);
  color: white;
}
.btn--secondary {
  background-color: hsl(0, 0%, 60%);
  color: white;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 16px;
  color: white;
  background-color: #333333;
}
.footer__links {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.footer__link {
  font-size: 48px;
  color: white;
}
