<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css" integrity="sha384-ejwKkLla8gPP8t2u0eQyL0Q/4ItcnyveF505U0NIobD/SMsNyXrLti6CWaD0L52l" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/pages/register/register.css">
  <title>Pokedex Registration</title>
</head>

<body>
  <div class="container">
    <%- include('../_partials/navbar') %>
    <main>
      <h2>Create your account</h2>
      <div class="register panel">
        <form class="form">
          <p class="form__alert" data-hidden></p>
          <div class="form__group form__group--inline">
            <span class="form__item">
              <label class="form__label" for="in-username">Username</label>
              <input id="in-username" class="form__field" type="text" name="username">
            </span>
            <div class="form__item">
              <label for="in-password" class="form__label">Password</label>
              <input id="in-password" class="form__field" type="password" name="password">
            </div>
          </div>
          <div class="form__group form__group--inline">
            <div class="form__item">
              <label for="in-first-name" class="form__label">First Name</label>
              <input id="in-first-name" class="form__field" type="text" name="first-name">
            </div>
            <div class="form__item">
              <label for="in-last-name" class="form__label">Last Name</label>
              <input id="in-last-name" class="form__field" type="text" name="last-name">
            </div>
          </div>
          <div class="form__group form__group--inline">
            <div class="form__item">
              <label for="in-age" class="form__label">Age</label>
              <input id="in-age" class="form__field" type="number" name="age">
            </div>
            <div class="form__item">
              <label for="in-gender" class="form__label">Gender</label>
              <select id="in-gender" class="form__field" name="gender">
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
              </select>
            </div>
          </div>
          <div>
            <p class="form__subtitle">Already have an account? <a class="form__link" href="/login">Login here.</a></p>
          </div>
          <div class="form__item">
            <input id="id-register" class="form__button btn btn--primary" type="submit" value="Submit">
          </div>
        </form>
      </div>
    </main>
    <%- include('../_partials/footer') %>
  </div>
  <script src="/global.js"></script>
  <script src="/pages/register/register.js"></script>
</body>

</html>